/* Primary */
$prymary-100 : hsl(228, 100%, 66%);
$prymary-200 : hsl(228, 100%, 75%);
$prymary-300 : hsl(228, 22%, 26%);
$prymary-400 : hsl(229, 22%, 19%);
$prymary-500 : hsl(227, 14%, 52%);

/* Accent */
$accent: hsl(0, 83%, 65%);

/* Neutral */
$neutral-100: hsl(0, 0%, 100%);
$neutral-200: hsl(228, 100%, 95%);
$neutral-300: hsl(228, 100%, 91%);
$neutral-400: hsl(0, 0%, 95%);
$neutral-500: hsl(229, 14%, 76%);
$neutral-600: hsl(0, 0%, 0%);